{% comment %}This is a placeholder for your new template! Include your template in another using {% include "./dp_style.html" %} or {% extends "./dp_style.html" %}.{% endcomment %}


@font-face {
  font-family: 'FontAwesome';
  src: url('https://s3.amazonaws.com/aktest-2011/fonts/fontawesome-webfont.eot'),
    url("https://s3.amazonaws.com/aktest-2011/fonts/fontawesome-webfont.woff") format("woff"),
    url("https://s3.amazonaws.com/aktest-2011/fonts/FontAwesome.otf") format("opentype"),
    url("https://s3.amazonaws.com/aktest-2011/fonts/fontawesome-webfont.svg") format("svg");
}

a {
    text-decoration: none;
    color: #010429;
    font-weight: 400;
    border-bottom: 1px solid #e1e1e1;
}

a:hover {
    color: #9f1719;
    text-decoration: none;
    border-bottom: 0;
}

a.ak-underline-on-hover{
    border-bottom: 0;
    text-decoration: none;
}

a.ak-underline-on-hover:hover{
    border-bottom: 1px solid #a11912;
    text-decoration: none;
}

.fixed {
    position:static;
}

.relative{
    position: relative;
}

/* thanks page */
.ak-pagetype-thanks .ak-grid-col h2 img{
    vertical-align:bottom; 
}
.ak-share-button{
    transition: linear .2s;
}

@media all and (min-width:750px) {
   .fixed {
   	position:fixed;
   	top:0;
        margin-right: 60px;
    }
   .relative { position: relative; }
}

@media (min-width:979px) {
   	.fixed {
   		width: 357px;
   		max-width: 357px;
   	}
}
 
.ak-page-header{
	border-bottom:24px solid #a11411;
	height: 72px;
}

@media screen and (max-width: 500px){
    .ak-page-header{
	    border-bottom:10px solid #a11411;
	    height: 38px;
    }
}

.ak-page-header-contents h1{
    background: url('https://s3.amazonaws.com/aktest-2011/images/Logo-new-site-rectangle-600x6011.png');
    background-repeat: no-repeat;
    text-indent:-9999px;
    background-size:400px;
    transition: width 2s linear 1s;
	margin-top: 4px;
}

@media screen and (max-width: 500px){
    .ak-page-header-contents h1{
        background-size:210px;
        transition: width 2s linear 1s;
        margin-top: 8px;
    }
}

.ak-page-header a,.ak-page-header a:hover{ border-bottom: 0;}

h2 {
    color: #9f1719;
    margin-top: 10px;
}

.statement-text-wrapper {
    border-radius: 0;
    border: 1px solid #a01618;
    background: #f0f0f0;
}

button.ak-submit-button,
button, button{
    background-color: #030428;
    border-radius: 0;
    transition: .2s;
    width: auto;
    padding-left:30px;
    padding-right:30px;
    font-size: 1em;
    border: 1px solid #fff;
    outline: 2px solid #030428;
}

body.ak-pagetype-petition button.ak-submit-button:hover,
button:hover, button:hover{
    background-color: #9f1719;
    outline: 2px solid #9f1719;
}

.ak-btn-short, input[type="submit"].ak-btn-short{
    border: 1px solid #fff;
}

@media screen and (max-width: 749px){
    .ak-field-box {
        margin-left: 0;
        margin-right: 0;
        margin-top: 10px;
    }
}

.ak-field-box{
    border-radius: 0;
    border: 1px solid #bbb;
    background: #f0f0f0;
}

.ak-pagetype-petition .statement-text-wrapper.ak-field-box{
    border: 1px solid #a01816;
}

.ak-styled-fields input[name="zip"], .ak-styled-fields input[name="event_zip"]{ width: 100%; }

.ak-pagetype-petition .statement-text-wrapper h3{ display: none; }

.align-right {float:right;}
.align-left {float:left;}

.ak-pagetype-petition .ak-grid-col:not(:first-child).align-left {
    margin-left: 0;
    margin-right: 2%; 
}

.legal_text{ font-size:.8em;  }

.ak-dp-mobile {
    display: block;
}

@media screen and (min-width: 750px) {
    .ak-dp-mobile {
        display: none;
    }
}

.ak-dp-desktop {
        display: none;
}

@media screen and (min-width: 750px) {
    .ak-dp-desktop {
        display: block;
    }
}

.ak-page-footer {
    border: none;
    background-color: #212121;
   -webkit-font-smoothing: antialiased;
}
.ak-page-footer a{
    text-decoration: none; 
    border-bottom: 0;
}

.ak-page-footer a:hover{
    text-decoration: none; 
    border-bottom: 1px solid #fff;
}

.ak-page-footer #social li a:hover{
    border-bottom: 0;
}

.ak-page-footer #copyright {
    padding: 20px 0px;
    font-size: 12px;
    background-color: #1c1c1c;
    color: #fff;
}

.ak-page-footer #copyright #menu-footer-menu li a, .ak-page-footer #copyright a {
    line-height: 18px;
    height: 18px;
    color: #fff;
}

.ak-page-footer #copyright li a, #header-secondary-outer #social li a {
    display: block;
    line-height: 22px;
    height: 24px;
    position: relative;
    transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
    background-position: center top;
}

.ak-page-footer #copyright #menu-footer-menu li {
    margin: 0;
    border-right: 1px solid #ddd;
    padding: 0 10px;
}

.ak-page-footer  #copyright li {
    float: left;
    margin-left: 20px;
}

@media only screen and (min-width: 1000px)
.dp-container, .woocommerce-tabs .full-width-content .tab-container {
    max-width: 1425px;
    width: 100%;
    margin: 0 auto;
    padding: 0 90px;
}
@media only screen and (min-width: 1300px)
.dp-container, body[data-ext-responsive="false"] #boxed #header-outer[data-full-width="true"] header>.dp-container, body[data-ext-responsive="false"] #boxed #header-secondary-outer[data-full-width="true"]>.dp-container {
    max-width: 1100px;
}
.dp-container {
    max-width: 880px;
    margin: 0 auto;
    position: relative;
    padding:15px;
}

.ak-page-footer #copyright #menu-footer-menu{ float: right; }

.ak-page-footer #copyright #menu-footer-menu li:last-child {
    border: none;
    padding-right: 0;
}

.ak-page-footer #copyright .clear {
    padding-bottom: 13px;
    clear: both;
}

.ak-page-footer #copyright .col ul {
    float: left;
}

.ak-page-footer #copyright li a i, .ak-page-footer #copyright p {
    color: #ffffff;
}

.ak-page-footer #copyright li a i, #header-secondary-outer #social li a i {
    transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
}

.ak-page-footer i, #header-secondary-outer #social i {
    font-size: 20px;
    width: auto;
    background-color: transparent;
}

[class^="icon-"], [class*=" icon-"], [class*="fa-"] {
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    text-decoration: inherit;
    -webkit-font-smoothing: antialiased;
}

[class^="icon-"], [class*=" icon-"] {
    display: inline;
    width: auto;
    height: auto;
    line-height: normal;
    vertical-align: baseline;
    background-image: none;
    background-position: 0% 0%;
    background-repeat: repeat;
    margin-top: 0;
}

[class^="icon-"], [class*=" icon-"] {
    background-color: #27CFC3;
    border-radius: 999px 999px 999px 999px;
    -moz-border-radius: 999px 999px 999px 999px;
    -webkit-border-radius: 999px 999px 999px 999px;
    -o-border-radius: 999px 999px 999px 999px;
    color: #fff;
    display: inline-block;
    font-size: 16px;
    height: 32px;
    line-height: 32px;
    max-width: 100%;
    position: relative;
    text-align: center;
    vertical-align: middle;
    width: 32px;
    top: -2px;
    word-spacing: 1px;
}

.icon-twitter:before {
    content: "\f099";
}

.icon-facebook:before {
    content: "\f09a";
}

.icon-tumblr:before {
    content: "\f173";
}

.fa-medium:before {
    content: "\f23a";
}

#copyright li a i{
    transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
color: #fff;
}

#copyright li a i:hover{
    color: #9f1719;
}


@media only screen and (max-width: 1000px) and (min-width: 1px){
    .ak-page-footer #social li {
        width: 33px;
        margin-top: 9px;
        margin-bottom: 9px;
    }
}

@media only screen and (max-width: 690px){
    .ak-page-footer #social li {
        margin-right: 10px;
        margin-left: 0px;
    }
}

@media (min-width: 750px) {
   .dp-container {
       padding-left: 60px;
       padding-right: 60px;
       width: 1000px;
       max-width: 100%;
    }
}

