{% extends "./wrapper.html" %}{% load actionkit_tags %}

{% block content %}

<form class="ak-form" name="act" method="POST" action="/act/" accept-charset="utf-8">
    <input type="hidden" name="page" value="{{ page.name }}">

    <div class="ak-grid-row">

        <div class="ak-grid-col ak-grid-col-5-of-12 align-right ak-sticky-parent">
        
            <h2 class="ak-dp-mobile">{{ page.title }}</h2>
        
            {% include "./progress_meter.html" %}

            {% if page.custom_fields.featured_image %}
            <img class="ak-featured-img" src="{{page.custom_fields.featured_image}}">
            {% endif %}

            <div id="letter-form" class="ak-field-box ak-styled-fields ak-sticky {{templateset.custom_fields.field_labels_class|default:"ak-labels-overlaid"}} {{templateset.custom_fields.field_errors_class|default:"ak-errs-below"}}">
            
             <div class="ak-margin-bottom-1 ak-styled-fields">
             
                {% if form.statement_leadin %}
                {% autoescape off %}
                <div class="ak-p-before-textarea ak-margin-top-1">
                    {% include_tmpl form.statement_leadin %}
                </div>
                {% endautoescape %}
                {% else %}
                <h3>Send the letter</h3>
                {% endif %}
                
                {% include "./user_form_wrapper.html" %}

                The Letter:
                <textarea id="id_comment" name="action_comment" class="ak-letter-text ">{% include_tmpl form.letter_text escaped %}</textarea>

                {# Optional TAF {% include "./inline_tellafriend.html" %} #}

                <button type="submit" class="ak-submit-button">Send Letter</button>
                
                {% if page.custom_fields.legal_text %}
                <p class="legal_text">
                    {{ page.custom_fields.legal_text }}
                </p>
                {% endif %}

                </div>
            </div>
        </div>

        <div class="ak-grid-col ak-grid-col-7-of-12 align-left">
            <h2 class="ak-dp-desktop">{{ page.title }}</h2>
            <div id="letter-story">
                {% autoescape off %}
                <div>{% include_tmpl form.about_text %}</div>
                {% endautoescape %}
            </div>
        </div>

    </div>

</form>

{% endblock %}
