{% extends "./wrapper.html" %}{% load actionkit_tags %}

{% block content %}
<form class="ak-form" name="act" method="POST" action="/act/" accept-charset="utf-8">
    <input type="hidden" name="page" value="{{ page.name }}">

    <div class="ak-grid-row">
        <div class="ak-grid-col ak-grid-col-12-of-12">
            <h2 class="ak-dp-mobile">{{ page.title }}</h2>
        </div>
    </div>

    <div class="ak-grid-row">
        
         <div class="ak-grid-col ak-grid-col-5-of-12 align-right">

            {% include "./progress_meter.html" %}

            <div class="statement-text-wrapper ak-field-box ak-dp-mobile">

                {% if page.custom_fields.featured_image or form.about_text %}
                        {% if form.statement_leadin %}
                            <h3>
                                {% include_tmpl form.statement_leadin %}
                            </h3>
                        {% else %}
                            <h3>
                                Sign the petition:
                            </h3>
                        {% endif %}
                {% endif %}
                
                <div id="petition-form" class="ak-styled-fields ak-margin-top-1 {{templateset.custom_fields.field_labels_class|default:"ak-labels-overlaid"}} {{templateset.custom_fields.field_errors_class|default:"ak-errs-below"}}">
                    {% include "./user_form_wrapper.html" %}
                    {% if page.custom_fields.allow_comments == "Yes" %}
                        <div class="ak-field">
                            <label for="id_comment">Comment</label>
                            <textarea id="id_comment" name="action_comment"></textarea>
                        </div>
                    {% endif %}

                    {# Optional TAF {% include "./inline_tellafriend.html" %} #}

                    <button type="submit" class="ak-submit-button">Sign</button>

                    {% if page.custom_fields.legal_text %}
                    <p class="legal_text">
                        {{ page.custom_fields.legal_text }}
                    </p>
                    {% endif %}

                </div>
            </div>



            <div class="ak-sticky-parent ak-dp-desktop">
            <div class="statement-text-wrapper ak-field-box ak-sticky ">

                {% if page.custom_fields.featured_image or form.about_text %}
                        {% if form.statement_leadin %}
                            <h3>
                                {% include_tmpl form.statement_leadin %}
                            </h3>
                        {% else %}
                            <h3>
                                Sign the petition:
                            </h3>
                        {% endif %}
                {% endif %}
                
                <div id="petition-form" class="ak-styled-fields ak-margin-top-1 {{templateset.custom_fields.field_labels_class|default:"ak-labels-overlaid"}} {{templateset.custom_fields.field_errors_class|default:"ak-errs-below"}}">
                    {% include "./user_form_wrapper.html" %}
                    {% if page.custom_fields.allow_comments == "Yes" %}
                        <div class="ak-field">
                            <label for="id_comment">Comment</label>
                            <textarea id="id_comment" name="action_comment"></textarea>
                        </div>
                    {% endif %}

                    {# Optional TAF {% include "./inline_tellafriend.html" %} #}

                    <button type="submit" class="ak-submit-button">Sign</button>

                    {% if page.custom_fields.legal_text %}
                    <p class="legal_text">
                        {{ page.custom_fields.legal_text }}
                    </p>
                    {% endif %}

                </div>
                </div>
            </div>  
        </div>


       <div class="ak-grid-col ak-grid-col-7-of-12  align-left">
            {% if page.custom_fields.featured_image or form.about_text %}
            <div id="ak-petition-story">
                <h2 class="ak-dp-desktop">{{ page.title }}</h2>
                {% if page.custom_fields.featured_image %}
                <img class="ak-featured-img {% if page.goal %}ak-margin-top-1{% endif %}" src="{{page.custom_fields.featured_image}}">
                {% endif %}

                        <div class="ak-margin-bottom-1 dp-petition">
                            {% include_tmpl form.statement_text %}
                        </div>

                {% autoescape off %}
                    <div >{% include_tmpl form.about_text %}</div>
                {% endautoescape %}
            </div>
             {% else %}
                 {% if form.statement_leadin %}
                    <p class="ak-petition-leadin">
                        {% include_tmpl form.statement_leadin %}
                    </p>
                {% endif %}
             {% endif %}
        </div>


    </div><!--gridrow-->

</form>

{% endblock %}
